$contact-avatar-size: 3rem;
$contact-avatar-color: #ddd;

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  width: 100%;
  padding: 0 1vw;
  border-top: 2px solid $contact-avatar-color;
  cursor: pointer;

  .contact-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: $contact-avatar-size;
    width: $contact-avatar-size;
    border: 2px solid $contact-avatar-color;
    border-radius: 50%;
    overflow: hidden;

    .contact-photo {
      width: 100%;
    }

    .contact-initials {
      color: $contact-avatar-color;
      font-size: 1.3rem;
      font-weight: bold;
    }
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    .contact-name {
      font-weight: 700;
    }

    .contact-email {
      font-size: 0.8rem;
      color: gray;
    }
  }

  .contact-checkbox {
    margin-left: auto;
  }
}
