@keyframes show-up {
  from {
    height: 0;
  }
  to {
    height: 3rem;
  }
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;

  .ribbon-contacts {
    padding-left: calc(100vw - 100%);
    display: flex;
    height: 3rem;
    color: white;
    background: linear-gradient(
      90deg,
      rgb(98, 175, 194) 0%,
      rgb(33, 166, 139) 100%
    );
    justify-content: center;
    align-items: center;

    &--come-out {
      @media (min-width: 1024px) {
        animation: show-up 0.3s;
      }
    }

    h1 {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .search {
    height: 3rem;
    display: flex;
    background-color: white;
    padding: 0 3vw;
    align-items: center;

    @media (min-width: 1024px) {
      padding: 0 1vw;
    }

    &--sticky {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;
      box-shadow: 0 0 1rem #bbb;
    }

    .search-icon {
      display: flex;
      align-items: center;
      justify-self: flex-start;
      color: #ddd;
    }

    .search-input {
      width: 100%;
      margin-left: 1vw;
      border: none;
      font-size: 1.2rem;
      box-shadow: 0 0 0 100px white inset;

      &:focus {
        outline: 0;
      }
    }
  }
}
