$contact-photo-size: 3rem;

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  width: 100%;
  padding: 0 1vw;
  cursor: pointer;

  .contact-photo {
    background-color: #000;
    height: $contact-photo-size;
    width: $contact-photo-size;
    border-radius: 50%;
    overflow: hidden;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    .contact-name {
      font-weight: 700;
    }

    .contact-email {
      font-size: 0.8rem;
      color: gray;
    }
  }

  .contact-checkbox {
    margin-left: auto;
  }
}
